.land-features {
   padding: 50px 10vw;
   text-align: center;
}

div.land-features > div > div {
   flex-basis: 30%;
   margin: 0.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
}


div.land-features-content > div > h4 {
   margin-bottom: 0;
}
div.land-features-content > div > img {
   max-width: 150px;
   width: 33%;
}

@media screen and (max-width: 640px) {
   div.land-features > div {
      flex-direction: column;
   }
}

/* 
@media screen and (max-width: 440px) {
   div.land-features > div {
      flex-direction: column;
   }
} */
.land-get-started {
   margin-top: 50px;
   background-color: var(--turquoise);
   color: white;
   text-align: center;
   padding: 1em 2em 3em;
}

.land-get-started-btn {
   padding: 5px 25px;
   border: 2px solid white;
   color: white;
   font-size: calc(1rem + 0.5vw);

}

.land-get-started-btn:hover {
   color: var(--turquoise);
   background-color: white;  
}

